@charset "utf-8";
/* CSS Document */
#subject {
	background: white;
	border: 1px solid #ffa853;
	border-radius: 5px;
	box-shadow: 0 0 3px 1px #ffa853;
	color: #666;
	float: left;
	padding: 5px 10px;
	width: 165px;
	outline: none;
}

.btn {
	margin-right: 300px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}